.principal {
    text-align: center;
}

.pregunta {
    color: rgb(6, 7, 116);
    font-size: 2em;
    text-align: center;
}

img {
    width: 100%;
}

.imagen {
    width: 180px;
    margin: 20px auto;
}

.palabra {
    display: flex;
    justify-content: center;
}

.palo {
    margin: 2px;
    border-bottom: 3px solid black;
    width: 32px;
    height: 45px;
    text-align: center;
    font-size: 2.5em;
    
}

.boton button {
    margin: 5px;
    padding: 5px 0;
    font-size: 1.3em;
    background-color: white;
    border: 1px dashed black;
    border-radius: 4px;
    cursor: pointer;
    width: 35px;
    text-align: center;
}

.final {
    text-align: center;
}